
/*Bootstrap Nav bar - draft code
.navbar-brand {
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
}*/

/*Bootstrap Nav bar final draft*/
.navbar-expand-lg .navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 10px;
    font-size: 30px;
}

/*Space Odyssey Heading*/
#UOHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 100px;
    background: #918c8bd7;
    font-family:'Courier New', Courier, monospace;
}

.text-center {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
